body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to top, rgb(71, 120, 253), rgb(21, 208, 233));
}

main {
    height: 90vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

h1 {
    margin: 2.5vh;
    text-align: center;
    font-family: "Montserrat";
    font-size: 7.5vh;
    color: #2c2836;
}

.semaforo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-rectangle {
    height: 65vh; /*height:840px width:400px*/
    width: 30.95vh;
    background-color: #433d54;
    border-radius: 5vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.circle {
    background-color: #494650;
    border-radius: 360px;
    height: 15.47vh;
    width: 15.47vh;
    box-shadow: 0.33vh -0.66vh #38363d;
}

#starterButton {
    margin: 5vh;
    height: 6vh;
    width: 30.95vh;
    font-family: "Montserrat";
    font-size: 1.28vh;
    padding: 18px 60px;
    background: #494650;
    color: white;
    border: none;
    border-radius: 1vh;
}

#starterButton:hover {
    cursor: pointer;
    background: #413e47;
}

#starterButton:active {
    background-color: #302e35;
}
